.user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 250px;

    border-radius: 4px;
    border: 1px solid purple;
    box-shadow: 4px 4px 10px rgb(26, 25, 25, 0.2);

}

.user-card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid purple;
}

.user-card strong {
    margin-top: 30px;
}

.user-card span {
    color: gray;
    font-size: 12px;
}

.user-card button {
    border: none;
    background-color: purple;
    color: white;

    margin-top: 30px;
    height: 40px;
    width: 200px;

    cursor: pointer;
}

.user-card button:hover {
    background-color: rgb(150, 22, 150);
}